* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #333;
}

.outer-cell {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.header-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.header-cell h1 {
  font-size: 70px;
  font-weight: 500;
}

.header-cell img {
  width: 150px;

}

.info-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  flex: 1;
}

.input-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.search-bar {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 20px 35px;
  width: 80%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
}

.search-bar:focus {
  border: 1px solid #444;
}

.search-btn {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 26px;
}

.search-btn:active {
  box-shadow: inset 5rem 5rem #ccc;
}

footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(228, 228, 222);
}